* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.logo-container,.nav-links {
    display: flex;
}

.logo-container {
    align-items: center;
    margin-right: 30px;
}

.logo {
    font-weight: 100;
    margin: 5px;
}

.logo-container img {
    height: 5vh;
}

.nav-links {
    list-style: none;
}

.nav-links li a {
    color: inherit; 
    text-decoration: inherit; 
    margin: 0 20px;
    font-size: 16px;
}

.active {
    font-weight: 600;
}

/* ... */

.mobile-logo {
    display:none;
    width: 20%;
    margin-top:  20px;
    margin-bottom: 20px;
    margin: auto;
}

hr { display: block; height: 2px;
    border: 0; border-top: 2px solid #262626;
     padding: 0; }

.presentation {
    padding-top: 50px;
    width: 70%;
    display: flex;
    margin: auto;
    /* max-height: 80vh; */
}

.introduction {
    /* background-color: bisque; */
    flex: 1.3;
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover {
    /* background-color: brown; */
    flex: 1;
    display: flex;
    align-items: flex-end;
    
    justify-content: center;
}

.intro-text h1 {
    font-size: 60px;
    font-weight: 800;
}

.intro-text h1 span {
    color: #52FF00;
}

.intro-text p {
    font-size: 25px;
    margin: 25px 0;
}

.cta-download {
    height: 60px;
    margin-right: 5px;
}

.cta p {
    margin: 10px 0;
    opacity: 0.25;
    font-size: 14px;
}

.blocked {
    opacity: 0.3;
}

/* ... */

.cards-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
}

.cards-heading h4 {
    font-size: 13px;
    font-weight: 400;
}

.cards {
    width: 70%;
    margin: 0 auto;
    display: grid;
    margin-bottom: 50px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 20px;
}

.card {
    border-radius: 30px;
    overflow:hidden;
}

.card-content {
    margin: 0;
    border-radius: 0 0 30px 30px;
    border: solid #262626;
    border-width: 0 2px 2px 2px;

    padding: 30px;
}

.card-content h2 {
    font-size: 26px;
    font-weight: bold;
}

.card-content .pricing {
    display: flex;
    align-items: center;
}

.card-content .price {
    color: lime;
    margin-right: 7px;
    font-size: 18px;
}

.card-content .old-price {
    color: #7F7F7F;
    text-decoration: line-through;
    margin-right: 7px;
    font-size: 18px;
}

.card-content .pill {
    background-color: lime;
    border: none;
    color: black;
    font-weight: bold;
    padding: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px; 
}

.card-content p {
    margin: 15px 0;
    font-size: 15px;
}

.card-image {
    margin: 0;
    padding: 0;
    object-fit:cover;
    display: block;
    width: 100%;
    height: 320px;
}

.card-button {
    border-radius: 15px;
    background-color: lime;
    font-weight: 600;
    color: black;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.card-button p {
    font-size: 21px;
    font-weight: 700;
}

.card-button .material-icons {
    font-size: 25px;
}

.card-button span {
    margin-right: 5px;
}

footer {
    padding: 20px 0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.footer-links {
    list-style: none;
    display: flex;
}

.footer-links li a {
    color: inherit; 
    text-decoration: inherit; 
    margin-right: 20px;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.footer-copyright {
    font-weight: 300;
    font-size: 16px;
    color: white;
}

@media screen and (max-width: 1300px) {
    .presentation {
        width: 95%;
    }
    .cards-heading {
        width: 95%;
    }
    .cards {
        width: 90%;
    }
    footer {
        width: 95%;
    }
}

@media screen and (max-width: 950px) {
    .presentation {
        flex-direction: column;
    }
    .footer-links,footer {
        text-align: center;
        flex-direction: column;
    }
    .footer-links li a {
        margin-right: 0px;
    }
    .cover img {
        max-width: 75%;
    }
    .cards-heading {
        flex-direction: column;
    }
    .cards-heading h4 {
        margin-top: 10px;
    }
    .introduction {
       text-align: center;
       padding: 15px;
    }
    .footer-copyright {
        margin-top: 15px;
    }
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media screen and (max-width: 450px) {
    header {
        position: absolute;
        visibility:hidden;
        display:none;
    }
    .mobile-logo {
        display: block;
    }
}